body {
	background: #f5f8fa;
	padding-bottom: 2rem;
	overflow-x: hidden
}

/* Small devices */
.card-columns { column-count: 1 }

/* Medium devices */
@media (min-width:768px) {
	.card-columns { column-count: 2 }
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 999
}

#header {
	position: relative;
	width: 100vw;
	min-height: 170px;
	padding: 10px;
	background: #2b3e50 url(tile.jpg) repeat;
}

#list {
	margin-bottom: 20px;
}

.sticky-sidebar {
	position: sticky;
	top: 64px
}

.center-view {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)
}

.layout-sidebar {
	position: sticky;
	top: 10px
}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width:768px) {
	.layout-sidebar {
		top: 0;
		position: relative;
		margin-bottom: 30px
	}
}

.long-shadow {
	font-size: 120px;
	color: #fff;
	text-shadow: 0 15px 30px rgba(0,0,0,.1),10px 20px 5px rgba(0,0,0,.05),-10px 20px 5px rgba(0,0,0,.05)
}
