extends index.pug

block content
    if errors
            each err in errors
                .alert.alert-danger(role='alert').w-100
                    = err
                    button.close(type='button' data-dismiss='alert' aria-label='Fechar')
                        span(aria-hidden='true') ×

    form(action='/services/category' name=uniqKey method="POST").card-group.w-100
        .card.card-body
            h1.card-title Inserir
            h2.card-tile Nova Categoria de Serviço

            div.row
                div.form-group.col-lg-6
                    label(for='categoryName') Nome
                    input.form-control(type='text' name='name')

                div.form-group.col-lg-4
                    label(for='pricingType') Tipo de Precificação por:
                    div.form-group
                        select.form-control(required name='pricingType')
                            option(value='Once') Atividade
                            option(value='Dairy') Diária
                            option(value='Hourly') Hora

            div.form-group
                button.btn.btn-primary(type='submit') Adicionar categoria

