extends index.pug

block content
	if errors
		each err in errors
			.alert.alert-danger(role='alert').w-100
				= err
				button.close(type='button' data-dismiss='alert' aria-label='Fechar')
					span(aria-hidden='true') ×
	else if success
		.alert.alert-success(role='alert').w-100
			= success
			button.close(type='button' data-dismiss='alert' aria-label='Fechar')
				span(aria-hidden='true') ×

	form(action='/categories/new' method="POST").card-group.w-100
		.card.card-body
			h2.card-tile Cadastrar categoria de serviço

			.row
				.form-group.col-lg-6
					label(for='categoryName') Nome
					input.form-control(type='text' name='name')

				.form-group.col-lg-4
					label(for='pricingType') Cobrança por:
					.form-group
						select.form-control(required name='pricingType')
							option(value='Once') Atividade
							option(value='Daily') Dia
							option(value='Hourly') Hora

			.form-group
				button.btn.btn-primary(type='submit') Adicionar categoria
