extends index.pug

block content
	div(style={ 'margin-bottom': '20px' }).card.w-100
		.card-body
			h4.card-title #{status} #{error}
			pre #{message}
	if stack
		.card.w-100
			.card-body
				pre #{stack}
