doctype html
html(lang='pt-BR')
	head
		title ServeX
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		block stylesheet
			link(async href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN' crossorigin='anonymous')
			link(async href=baseurl('public/bootstrap.min.css') rel='stylesheet')
			link(async href=baseurl('public/custom.css') rel='stylesheet')
	body
		block navbar
			include topbar.pug
		block header
			div#header
				h1.center-view.long-shadow ServeX
		block spacer
			.mb-4
		.container
			.layout.row
				block content
					.col-12
						block inner
		block footer
		block scripts
			script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
			script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh' crossorigin='anonymous')
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js' integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ' crossorigin='anonymous')
			script(type='text/javascript').
				$(document).ready(function() {
					$('form').submit(function() {
						$(this).submit(function() { return false })
						return true
					})
				})
