mixin stars (count, lg)
	- let n = parseFloat(count)
	- let i = Math.floor(n)
	- let j = (n % 1) >= 0.5
	- let k = 5 - i - j

	span(title=n.toFixed(2))
		while i -- > 0
			span(class=(lg ? 'fa-lg' : '')).fa.fa-star
		if j
			span(class=(lg ? 'fa-lg' : '')).fa.fa-star-half-o
		while k -- > 0
			span(class=(lg ? 'fa-lg' : '')).fa.fa-star-o
