extends index.pug

block content
    if errors
            each err in errors
                .alert.alert-danger(role='alert').w-100
                    = err
                    button.close(type='button' data-dismiss='alert' aria-label='Fechar')
                        span(aria-hidden='true') ×

    form(action='/service' name=uniqKey method='POST').card-group.w-100
        .card.card-body
            h1.card-title Cadastrar
            h2.card-title Novo Serviço

            div.form-group
                label(for='fullname') Nome do Serviço
                input.form-control(required type='text' name='serviceName')#serviceName
            div.form-group
                label(for='description') Descrição
                textarea.form-control(required name='description' rows='4')#description
            div.form-group
                div.row
                    div.col-lg-6
                        label(for='baseprice') Preço
                        div.input-group
                            span.input-group-addon(type='text') R$
                            input.form-control(required type='number' name='basePrice')#baseprice

                    div.col-lg-6
                        label(for='servicetype') Tipo de Serviço
                        select.form-control(required name='serviceType')#servicetype
                            each i in categories
                                option #{i.name}
            div.from-group
                button.btn.btn-primary(type='submit') Registrar Serviço