extends index.pug

include serviceCard.pug

block content
	.col-12.col-md-3
		.sticky-sidebar
			.list-group(style={ 'margin-bottom': '20px' })
				each category in categories
					a(href='/services/filter/' + category.id).list-group-item-action.list-group-item= category.name
				if(user && user.authLevel === 'Admin')
					a(href='/categories/add' title='Nova categoria').list-group-item-action.list-group-item.text-center.font-weight-bold +
			if(user)
				a(href='/services/add').btn.btn-primary.w-100 Novo serviço
	.layout-main.card-columns.col-12.col-md-9
		each service in services
			+serviceCard(service)
		else
			div.card.card-body
				h4.card-title Não há serviços cadastrados.
