mixin stars (count)
	- let n = parseFloat(count)
	- let i = Math.floor(n)
	- let j = (n % 1) != 0
	- let k = Math.floor(5 - n)
	span(title=n)
		while i -- > 0
			span.fa.fa-star
		if j
			span.fa.fa-star-half-o
		while k -- > 0
			span.fa.fa-star-o

mixin serviceCard (service)
	div.card.card-body
		h4.card-title
			a(href='/services/' + service.id)= service.title
		p.card-text= service.description
		a(href='/services/' + service.id).card-link
			+stars(service['user.rating'] || 0)
		a(href='/services/filter/' + service['serviceCategory.id']).card-link
			= service['serviceCategory.name']
