extends index.pug

include serviceCard.pug

block content
	.col-12.col-md-3
		.sticky-sidebar.list-group(style='margin-bottom:20px')
			each category in categories
				a(href='/categories/' + category.id).list-group-item-action.list-group-item= category.name
		if(user)
			if(user.authLevel == 'Admin')
				.stick-sidebar.list-group
					a#list.btn.btn-primary(href='/services/add') Novo Serviço
				.stick-sidebar.list-group
					a#list.btn.btn-primary(href='/categories/add') Nova Categoria
	.layout-main.card-columns.col-12.col-md-9
		each service in services
			+serviceCard(service)
