extends index.pug

block content
	.card.mx-auto
		.card-body
			h1.card-title #{message}
			div(align='center')
				a(href='/')
					button.btn.btn-primary Página inicial
				a(href='/')
					button.btn.btn-primary Meu perfil
