mixin navlink (target, title)
	if target == request.path
		a(href=target).nav-item.nav-link.active= title
	else
		a(href=target).nav-item.nav-link= title

nav.navbar.navbar-expand.navbar-dark.bg-dark
	.container
		a(href='/').navbar-brand.mb-0 ServeX
		.navbar-nav
			+navlink('/services', 'Serviços')
			if isLoggedIn
				+navlink(`/cpanel`, 'Painel administrativo')
				+navlink(`/user/profile/${user.id}`, 'Meu perfil')
				+navlink(`/user/logout`, 'Encerrar sessão')
			else
				+navlink('/user/register', 'Cadastre-se')
				+navlink('/user/login', 'Entrar')
