extends services.pug

block content
	if error
		each err in error
			.alert.alert-danger(role='alert').w-100
				= err
				button.close(type='button' data-dismiss='alert' aria-label='Fechar')
				span(aria-hidden='true') ×
	card.card-body
		p.h1.card-title #{user.fullname}
		p
			+stars(user.rating || 0)
