extends ../index.pug

block content
	.card.card-body
		h1.card-title Painel administrativo
		.row
			.col-sm-3
				a(href='/cpanel/pending')
					button.btn.btn-primary(type='button') Serviços pendentes
						span.mr-2
						span.badge.badge-light #{pendingCount}
			.col-sm-6
			.col-sm-3
