extends ../index.pug

block content
	.card.w-100
		.card-body
			h1.card-title Administração
			a(href='/cpanel/rank/users').card-link.btn.btn-primary Usuários mais bem avaliados
			a(href='/cpanel/rank/categories').card-link.btn.btn-primary Categorias mais contratadas
			a(href='/cpanel/rank/history').card-link.btn.btn-primary Histórico de serviços e avaliações
